*~
.*.sw?
.DS_Store
.#*
*.o
/autocutsel
/cutsel
/Makefile
/config.h
/config.log
/config.status
/libtool
/build-stamp
/stamp-h
*.dh-orig
/debian/autocutsel
/debian/autocutsel.debhelper.log
/debian/autocutsel.substvars
/debian/files
